name: CI
on:
  pull_request:
  push:
    branches: main

jobs:
  tests:
    runs-on: ubuntu-20.04
    name: Test (${{matrix.elixir}}/${{matrix.otp}})

    strategy:
      matrix:
        otp: [23.x, 24.x, 25.x]
        elixir: [1.10.x, 1.11.x, 1.12.x, 1.13.x, 1.14.x]
        exclude:
          - otp: 25.x
            elixir: 1.11.x
          - otp: 25.x
            elixir: 1.12.x
          - otp: 25.x
            elixir: 1.10.x
          - otp: 24.x
            elixir: 1.10.x

    steps:
    - uses: actions/checkout@v2
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
        elixir-version: ${{matrix.elixir}}
    - uses: actions/cache@v3
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-mix-${{matrix.otp}}-${{matrix.elixir}}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-mix-${{matrix.otp}}-${{matrix.elixir}}-

    - name: Install Dependencies
      run: mix deps.get

    - name: Run Tests
      run: mix test || mix test --failed || mix test --failed

  formatter:
    runs-on: ubuntu-latest
    name: Formatter (1.14.x.x/25.x)

    steps:
    - uses: actions/checkout@v2
    - uses: erlef/setup-beam@v1
      with:
        otp-version: 25.x
        elixir-version: 1.14.x
    - uses: actions/cache@v3
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-mix-25-1.14-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-mix-25-1.14-

    - name: Install Dependencies
      run: mix deps.get

    - name: Run Formatter
      run: mix format --check-formatted
